# Dependencias generales
node_modules/
vendor/

# Next.js and Laravel logs/builds
.next/
out/
build/
storage/*.key
storage/logs/*.log
/public/storage
/public/build
.phpunit.result.cache

# Environment and Secrets
.env
.env.*
!.env.example

# Docker and local database
db_data/

# OS e IDEs
.DS_Store
.vscode/
.idea/